<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company</th>
            <th>Price</th>
            <th>Change (%)</th>
            <th></th>
        </tr>
    </thead>
         {{#each results}}
                <tr>
                <td>{{this.data.symbol}}</td>
                <td>{{this.data.companyName}}</td>
                <td>{{this.data.latestPrice}}</td>
                <td>{{this.data.changePercent}}</td>
                </tr>
            {{/each}}
        
</table>
