<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company</th>
            <th>Price</th>
            <th>Change (%)</th>
            <th></th>
        </tr>
    </thead>
        <tr>
            <td>{{stockData.symbol}}</td>
            <td>{{stockData.companyName}}</td>
            <td>{{stockData.latestPrice}}</td>
            <td>{{stockData.changePercent}}</td>
        </tr>
</table>
