body {
  padding: 35px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
  font-size: 1.5em;
}
.buy-input{
  width : 130px;
}
.watchlist-image{
  width: 40px;
  height: 40px;
}

canvas{
  width : 700px !important;
  height : 400px !important
}
/*
form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button ,
form select{
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}
*/

.inline{
  display: inline;
}
.search{
  display: inline;
}
.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.center{
  text-align: center;
}
/*
ul {
  border-bottom: 2px solid #43a3e6;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px;
}
*/

#to-right {
  /*padding: 1em;*/
  float: right;
}

#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

.home-page{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: darkblue;
  font-family: Arvo;
    text-shadow:1px 1px 2px darkblue;
   border: 1px solid darkblue;
   border-radius: 5px;
   background-color: lightsteelblue;
   padding: 15px;
}

.undo{
  border: 0px;
}
.logout-button{
  color: brown;
  border: 1px, solid,black;
  /*float: right;*/
}
.profile{
  margin-top: 30px;
  font-size: 18px;
}
.account-page{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 15px;
    border: 3px,solid, #43a3e6;
}